.gridforresume{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "skills about about"
                          "skills experience experience"
                          "projects projects projects"
                          "btn btn btn";

    gap: 1rem;
    margin: auto;
}
.skills{
    grid-area: skills;
}
/* .skills > div:last-child {
}
.skills > div:last-child > div p:last-child{
 

} */
.about{
    grid-area: about;
}
.experience{
    grid-area: experience;
}
.projects{
  grid-area: projects;
}
.btn{
    grid-area: btn;
    margin-left: auto;
}
/* @media (min-width:800px) {
   
} */

@media (max-width:1000px) {
    .gridforresume{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: "about about about"
                              "skills skills skills"
                              "experience experience experience"
                              "projects projects projects"
                               "btn btn btn";

        gap: 1rem;
    }
}